{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Breeds List</h2><br>

        <div class="d-flex justify-content-center">
            <table class="table table-light table-hover table-striped table-sm" style="max-width:600px;">

                <thead><tr> <td class="fw-bold">Breed</td><td class="fw-bold">Edit</td><td class="fw-bold">Wool length</td>
                    <td class="fw-bold">Origin</td><td class="fw-bold">About</td></tr></thead>
                <tr>
                    {% for breed in category %}

                        <td class="align-middle">{{ breed.name }}</td>
                        <td><a href="{{ url_for('categories.edit_category', id=breed.id) }}" class="btn btn-outline-secondary">Edit</a></td>
                        <td class="align-middle text-center">{% if breed.wool %}
                            {{ breed.wool }}
                        {% else %}
                            -
                        {% endif %}</td>

                        <td class="align-middle text-center">{% if breed.origin %}
                            OK
                        {% else %}
                            -
                        {% endif %}</td>

                        <td class="align-middle text-center">{% if breed.about %}
                            OK
                        {% else %}
                            -
                        {% endif %}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
        <br>


        {% for massage in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ massage }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <br>
{% endfor %}




</div>
{% endblock %}