
body {
  background: #f8f9fa;
  color: #444;
  font-family: "Montserrat", sans-serif;
}

/*use cool font*/
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 0 0;
  padding: 0;
}


/*set green color for free*/
.free {
  color: #20c997;
}

button.clear {
    background: none;
    border: none;
    display: block;

}
/*set images cover cards */
.card-img {
  max-width: 400px;
  max-height: 180px;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

/*set table compact*/
.table {
   /*align-content: center;*/
   /*width: 40% !important;*/
}

/*set row table linkable*/
td a {
    display: block;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navbar-brand {
    color: mediumvioletred;
    font-weight: 600;
}

.navbar-brand:hover {
    color: mediumvioletred;
    font-weight: 600;
}


td a:link {
  color: black;
}

td a:visited {
  color: black;
}

.nav-item a {
    text-decoration: none;
    opacity: 1;
    position: relative;
    color: gray;
    font-weight: 500;
}
.nav-item a:hover {
    background-color: unset !important;
    color: black;
    /*top: 2px;*/
}

.nav-item a:active {
    background-color: unset !important;
    color: black;
    /*top: 2px;*/
}

.nav-item a:visited {
    text-decoration: none;
    color: black;
}


.nav-item a::before {
    content: '';
    display: block;
    border-radius: 10px;
    height: 3px;
    background: gray;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;

}

.nav-item a:hover::before {
    transform: scale(1, 1);
}
/*dd {font-size:1rem;} !*1rem = 16px*!*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
@media (min-width: 400px) {
    h5 {font-size:0.8rem;}
    /*a.btn {font-size:0.8rem;}*/
    dt {font-size:0.8rem;} /*1rem = 16px*/
    dd {font-size:0.8rem;} /*1rem = 16px*/
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    h5 {font-size:0.8rem;}
    /*a.btn {font-size:0.8rem;}*/
    dt {font-size:0.8rem;} /*1rem = 16px*/
    dd {font-size:0.8rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    /*input {font-size:0.8rem;}*/
    h5 {font-size:1rem;}
    /*a.btn {font-size:0.8rem;}*/
    dt {font-size:1rem;} /*1rem = 16px*/
    dd {font-size:1rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*input {font-size:1rem;}*/
    /*a.btn {font-size:1rem;}*/
  dd {font-size:1rem;} /*1rem = 16px*/
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  dd {font-size:1rem;} /*1rem = 16px*/
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) {
  dd {font-size:1rem;}
}

