{% extends 'base.html' %}

{% block content %}
        <div class="container">

        <h1>KITTIES</h1>

            <br>
        <h3>Made by Evgeny Kolodenets</h3><br>
        <h5>Make your life happier with kitties<i class='fas fa-cat' style='font-size:30px;color:grey'></i></h5><br><br>
            <a href="https://github.com/ekolodenets" class="btn btn-primary btn-sm">Github</a>
             <a href="https://www.linkedin.com/in/evgeny-kolodenets/" class="btn btn-primary btn-sm">Linkedin</a>

    </div>
{% endblock %}