{% extends 'base.html' %}

{% block content %}
    <div class="container">

{% for massage in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ massage }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
        <h2 class="text-center">Registration Form</h2>
    <br><div class="d-flex justify-content-center">
        <div class="shadow p-3 mb-5 bg-body rounded">

        <form method="post">
            {{ form.hidden_tag() }}
            <div class="input-group ">
                <span class="input-group-text">{{ form.username.label | upper }}</span>
                {{ form.username(class='form-control') }}
            </div>
            <br>
            <div class="input-group ">
                <span class="input-group-text">{{ form.name.label | upper }}</span>
                {{ form.name(class='form-control') }}
            </div>
            <br>
            <div class="input-group ">
                <span class="input-group-text">{{ form.email.label | upper }}</span>
                {{ form.email(class='form-control') }}
            </div>
            <br>
            <div class="input-group ">
                <span class="input-group-text">{{ form.password_hash.label | upper }}</span>
                {{ form.password_hash(class='form-control') }}
            </div>
            <br>
            <div class="input-group ">
                <span class="input-group-text">{{ form.password_hash2.label | upper }}</span>
                {{ form.password_hash2(class='form-control') }}
            </div>
            <br><div class="col text-center">
            {{ form.submit(class='btn btn-outline-secondary') }}</div>
        </form></div></div>
    <h2 class="text-center">5 Last Registered Users</h2>
        <br>

<div class="d-flex justify-content-center">
    <table class="table table-light table-striped table-hover table-sm w-auto " style="max-width:600px;">
<thead>
<tr>
    <td>Id</td>
    <td>Nickname</td>
    <td>Name</td>
</tr>
</thead>

            {% for user_ in flask1[:5] %}
                <tr>
                <td>
                     <a href="{{ url_for('update', id=user_.id)}}">{{ user_.id }}.</a>
                </td>
                <td>
                    <a href="{{ url_for('update', id=user_.id)}}">{{ user_.username }}</a>
                </td>
                <td>
                    <a href="{{ url_for('update', id=user_.id)}}">{{ user_.name }}</a>
                </td>
                </tr>
            {% endfor %}
</table>
</div>

        <br>
    </div>
{% endblock %}

{#<a href="{{ url_for('update', id=user_.id)}}">#}
{##}
{#</a>#}

