{% extends "base.html" %}
{% block content %}
<div class="container ">
    
    {% for i in category %}
        {% if i == cat.category %}
            <h2 class="text-center mb-2">{{cat.category}} - {{i.wool}} from {{i.origin}}</h2>
        {% endif %}
    {% endfor %}
    
    <div class="d-flex justify-content-center ">
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7 col-xs-4 bg-gray">
<!--картинка-->
            <div class="row justify-content-center">
                <div class="card border-light bg-gray shadow" style="width: 25rem; padding: 0;">
                    {% if cat.cat_pic %}
                    <img class="card-img-top" src="{{ url_for('static', filename='images/' + cat.cat_pic)}}" width="200" alt="">
                {% else %}
                    <img class="card-img-top" src="{{ url_for('static', filename='images/wanted.jpg')}}" width="200" alt="">
                {% endif %}
            </div>
        </div>
        <!--картинка-->
            <div class="row align-items-center justify-content-center ">
                <div class="row bg-dark shadow" style="width: 25rem; padding: 0;">
                    <div class="col ">
                        <div class="p-2 text-white text-right bg-dark text-transform"><b>Breed</b>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="p-2 text-white bg-dark"><a href="#">{{ cat.category }}</a></div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="row bg-dark shadow" style="width: 25rem; padding: 0;">
                    <div class="col">
                        <div class="p-2 text-white text-right bg-dark"><b>Age</b></div>
                    </div>
                    <div class="col">
                        <div class="p-2 text-white bg-dark">{{ cat.age }} months</div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="row bg-dark shadow" style="width: 25rem; padding: 0;">
                    <div class="col">
                        <div class="p-2 text-white text-right bg-dark"><b>Cost</b>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-2 text-white bg-dark">
                            {% if cat.price == 0 %}
                                <p class="text-left">F R E E</p>
                            {% else %}
                                <p class="text-left">${{cat.price}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="row bg-dark shadow" style="width: 25rem; padding: 0;">
                    <div class="col">
                        <div class="p-2 text-white text-right bg-dark"><b>City</b></div>
                    </div>
                    <div class="col">
                        <div class="p-2 text-white bg-dark">{{ cat.city }}</div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="row bg-dark shadow" style="width: 25rem; padding: 0;">
                    <div class="col">
                        <div class="p-2 text-white text-right bg-dark"><b>Contacts</b></div>
                    </div>
                    <div class="col">
                        <div class="p-2 text-white bg-dark">{{ cat.contact }}</div>
                    </div>
                </div>
            </div>

            {% if cat.info %}
                <div class="row align-items-center justify-content-center">
                    <div class="row bg-dark shadow" style="width: 25rem; padding: 0;">
                        <div class="col">
                            <div class="p-2 text-white text-right bg-dark"><b>Information</b></div>
                        </div>
                        <div class="col">
                            <div class="p-2 text-white bg-dark">{{ cat.info }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row align-items-center justify-content-center">
                <div class="row bg-dark shadow" style="width: 25rem; padding: 0;">
                    <div class="col">
                        <div class="p-2 text-white text-right bg-dark"><b>Posted by</b></div>
                    </div>
                    <div class="col">
                        <div class="p-2 text-white bg-dark">{{ cat.poster.name  }}</div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="row bg-dark shadow" style="max-width: 25rem; padding: 0;">
                    <div class="col">
                        <div class="p-2 text-white text-right bg-dark"><b>Added</b></div>
                    </div>
                    <div class="col">
                        <div class="p-2 text-white bg-dark">{{ passed }}</div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="row bg-dark shadow" style="width: 25rem; padding: 0;">
                    <div class="col">
                        <div class="p-2 text-white text-center bg-dark">
                            <b>
                            <a href="{{ url_for('cats') }}" class="btn btn-outline-secondary">Back</a>
                                {% if cat.poster_id == current_user.id or current_user.id == 1 %}
                                    <a href="{{ url_for('edit_cat', id=cat.id) }}" class="btn btn-outline-secondary">Edit</a>

                                    <a class="btn btn-outline-danger" data-bs-toggle="collapse" href="#warningbeforedelete" role="button" aria-expanded="false" aria-controls="collapseExample">Delete Cat
                                </a>
                                <div class="collapse" id="warningbeforedelete">
                                    <div class="card card-body bg-dark text-center">
                                        <strong>Delete This Cat?</strong>
                                        <br>
                                        <p>
                                            <a href="{{ url_for('delete_cat', id=cat.id)}}" class="btn btn-danger btn-sm ">Yes! Delete!</a>
                                        </p>
                                    </div>
                                </div>

                                {% endif %}
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for massage in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ massage }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
</div>
{% endblock %}