{% extends 'base.html' %}
{% block content %}
<div class="container">




<h2>Dashboard</h2>
	<br/>

<div class="shadow card ">
    <div class="card-header "><strong>{{ current_user.name }}</strong></div>


    <div class="card-body">
        <p class="card-text">
        <div class="container">
        <div class="row">
            <div class="col-8">
                <dl class="row text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}
">
  <dt class="col-sm-4 col-md-4 col-lg-3 fs-6-sm ">Username:</dt>
  <dd class="col-sm-8 col-md-8 col-lg-9">{{ current_user.username }}</dd>
      <dt class="col-sm-4 col-md-4 col-lg-3">User ID:</dt>
  <dd class="col-sm-8 col-md-8 col-lg-9">{{ current_user.id }}</dd>
      <dt class="col-sm-4 col-md-4 col-lg-3">Email:</dt>
  <dd class="col-sm-8 col-md-8 col-lg-9">{{ current_user.email }}</dd>
      <dt class="col-sm-4 col-md-4 col-lg-3">Cats:</dt>
  <dd class="col-sm-8 col-md-8 col-lg-9">number of cats</dd>
      <dt class="col-sm-4 col-md-4 col-lg-3">Profile Pic:</dt>
  <dd class="col-sm-8 col-md-8 col-lg-9">{{ current_user.profile_pic }}</dd>
      <dt class="col-sm-4 col-md-4 col-lg-3">Date Joined:</dt>
  <dd class="col-sm-8 col-md-8 col-lg-9">{{ current_user.date_added.strftime('%Y.%m.%d') }}</dd>
</dl>
                </p>
            <br/><br/>
                <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm">Logout</a>
                <a class="btn btn-danger btn-sm" data-bs-toggle="collapse" href="#warningbeforedelete" role="button" aria-expanded="false" aria-controls="collapseExample">
    Delete Profile
                </a>
                <div class="collapse" id="warningbeforedelete">
                    <div class="card card-body text-center ">
                        <strong>Are You Sure You Want To Delete This Profile?</strong><br>
                        <p><a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger btn-sm ">Yes! Delete!</a></p>
                    </div>
                </div>
            </div>

            <div class="col-4 ">

                {% if current_user.profile_pic %}
                    <img src="{{ url_for('static', filename='images/' + current_user.profile_pic)}}" class="rounded float-end" alt="Responsive Image" height="200">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default_profile_pic.jpg')}}" height="200" width="200" class="img-fluid">
                {% endif %}

            </div>
        </div>
    </div>
    </div>
</div>

<div class="shadow accordion" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <h5>Edit Profile</h5>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="shadow accordion-body">
            <form action='/dashboard' method="post" enctype="multipart/form-data">

                {{ form.hidden_tag() }}
                {{ form.name.label(class='form-label') }}
                {{ form.name(class='form-control', value=name_to_update.name) }}
                {{ form.username.label(class='form-label') }}
                {{ form.username(class='form-control', value=name_to_update.username) }}
                {{ form.email.label(class='form-label') }}
                {{ form.email(class='form-control', value=name_to_update.email) }}
                <br>
                {{ form.profile_pic.label(class='form-label') }}
                {{ form.profile_pic(class='form-control', value=name_to_update.profile_pic) }}
                <br>
                {{ form.submit(class='btn btn-secondary btn-sm') }}
            </form>
      </div>
    </div>
  </div>
</div>

{% for massage in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ massage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
</div>
    <br>
{% endblock %}
