{% extends "base.html" %}
{% block content %}

    <div class="container">

        <h2 class="text-center mb-2">Edit {{ cat.poster.name }}'s cat </h2>
        <div class="d-flex justify-content-center">
            <div class="shadow p-3 mb-3 bg-body rounded">
                <form method="post">
                    {{ form.hidden_tag() }}

                    {{ form.category.label(class='form-label') }}
                    {{ form.category(class='form-control') }}
                    {{ form.age.label(class='form-label') }}
                    {{ form.age(class='form-control') }}
                    {{ form.price.label(class='form-label') }}
                    {{ form.price(class='form-control') }}
                    {{ form.city.label(class='form-label') }}
                    {{ form.city(class='form-control') }}
                    {{ form.contact.label(class='form-label') }}
                    {{ form.contact(class='form-control', rows='5') }}
                    {{ form.info.label(class='form-label') }}
                    {{ form.info(class='form-control') }}
                    <br>
                    <div class="col text-center">
                    <button class="btn btn-outline-secondary" type="submit">Save</button>
                        <a href="{{ url_for('cat', id=cat.id) }}" class="btn btn-outline-secondary">Back</a>
                    </div>
                </form>
            </div>
            <br>
        </div>

        {% for massage in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ massage }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    </div>
{% endblock %}