{% extends 'base.html' %}

{% block content %}
    <div class="container">

{% for massage in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ massage }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

{% if name %}
    <h1>Hello {{ name | upper }}! </h1>
    <br>
<img src="{{ url_for('static', filename='images/image.jpg') }}" width="800">
{% else %}
    <h2>Just See What Will Happen!</h2>
    <br>
    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.name.label(class='form-label') }}
        {{ form.name(class='form-control') }}
        <br>
        {{ form.submit(class='btn btn-secondary') }}
    </form>

{% endif %}
    </div>
{% endblock %}