{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <h1>K I T T I E S <i class='fa-solid fa-paw' style='font-size:35px;color:black'></i></h1>
        <br>
        <h3>Made by Evgeny Kolodenets</h3>
        <br>
        <h5>Make your life happier with kitties </h5>
        <br>
        <br>
        <a href="https://github.com/ekolodenets" class="btn btn-secondary btn-sm">Github</a>
        <a href="https://www.linkedin.com/in/evgeny-kolodenets/" class="btn btn-secondary btn-sm">Linkedin</a>
    </div>

{% endblock %}