{% extends 'base.html' %}
{% block content %}

    <div class="container">

        <h2 class="text-center mb-2">Login</h2>
        <div class="d-flex justify-content-center">
            <div class="shadow p-3 mb-3 bg-body rounded">
                <form method="post">
                    {{ form.hidden_tag() }}

                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class='form-control') }}

                    {{ form.password.label(class='form-label') }}
                    {{ form.password(class='form-control') }}
                    <br>
                    <div class="col text-center">
                        <button class="btn btn-outline-secondary btn-sm" type="submit">Sign In</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            {% for massage in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ massage }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>

        <br>
    </div>
{% endblock %}