<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid mx-4">
        <a class="navbar-brand mb-0 fs-2" href="{{ url_for('cats.cats') }}">K I T T I E S</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-4 px-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-1 mb-lg-0 fs-5">

          {% if current_user.is_authenticated %}
              <li class="nav-item px-2">
          <a class="nav-link" href="{{ url_for('cats.add_cat')}}">Add Cat</a>
        </li>
          {% if current_user.id == 1 %}

        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin Panel</a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('admin.admin')}}">Admin Dashboard</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('users.add_user')}}">Add User</a></li>
              <li><a class="dropdown-item" href="{{ url_for('categories.breeds')}}">Breeds List</a></li>
              <li><a class="dropdown-item" href="{{ url_for('categories.add_breed')}}">Add Breed</a></li>

          </ul>
        </li>
              {% else %}
<li class="nav-item dropdown px-2">
          <a class="nav-link disabled">Admin Panel</a>
        </li>
            {% endif %}

              <li class="nav-item px-2">
          <a class="nav-link" href="{{ url_for('users.dashboard')}}">Dashboard</a>
        </li>
           <li class="nav-item px-2">
          <a class="nav-link" href="{{ url_for('app.logout')}}">Logout</a>
        </li>

          {% else %}
              <li class="nav-item dropdown px-2">
          <a class="nav-link disabled">Admin Panel</a>
        </li>
              <li class="nav-item px-2">
          <a class="nav-link" href="{{ url_for('users.add_user')}}">Register</a>
        </li>
          <li class="nav-item px-2">
          <a class="nav-link" href="{{ url_for('app.login')}}">Login</a>
        </li>
          {% endif %}
      <li class="nav-item px-2">
          <a class="nav-link" href="{{ url_for('app.about')}}">About</a>
        </li>
      </ul>
{#      <form method="POST" action="{{ url_for('search') }}" class="d-flex">#}
{#          {{ form.hidden_tag() }}#}
{#        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search", name="searched">#}
{#        <button class="btn btn-outline-light" type="submit">Search</button>#}
{#      </form>#}
    </div>
  </div>
</nav>